/* One Dark theme styles */
body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  color: #61afef;
}

p {
  color: #abb2bf;
}

footer {
  background-color: #282c34;
  color: #abb2bf;
  padding: 10px;
}
